.container-header{
    width: 100vw;
    height: 80px;
    background-color: #e5890a;
}

.navbar-derecho{
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    height: 100%;
  }

  .barras-navMenu{
    display: flex;
    justify-content:flex-end;
  }

  header{
    height:100%
  }
  .barras-navMenu p {
    padding:20px;
    color:white;
    font-size: 20px;
  }