*{ box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}
.container-header{
    width: 100vw;
    height: 100px;
    background-color: #e5890a;
}

.navbar-derecho{
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    padding-top: 10px;
  }

  .barras-navMenu{
    display: flex;
    justify-content:flex-end;
    font-family: 'Lato', sans-serif;
    cursor:pointer
  }

  header{
    display: flex;
    justify-content: space-between;
    height:100%
  }
  .barras-navMenu p {
    padding:10px;
    color:white;
    font-size: 20px;
  }


  li a{
    font-size:20px
  }

  .imagen-pato{
    display: flex;
    margin-left: 5%;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .logo-pato{
    width: 80px;
    border-radius: 100%;
   
  }

  .hijo-barra-menu{
    margin: 0px 10px;
    font-size: 17px;
    text-decoration: none;
    color: #FFFFFF;
    transition: all 300ms ease;
    padding: 15px 23px;
  }

  .hijo-barra-menu:hover{
    transform: scale(1.1);
    background-color: #ff9500;
    box-shadow: 5px 5px 10px 0px rgb(0 0 0 / 50%);
    color:white;
    cursor: pointer;
  }