* {
    box-sizing: border-box;
  }

.box-father{
   /*  margin: 5px; */
    box-shadow: 0px 0px 5px rgb(100, 100, 100);
    background-color: rgb(247, 240, 240);
/*     border-radius: 5px; */
    width: 100%;
    display: flex;
}
.element{
    display:flex;
    flex-direction: column;
    /* justify-content: space-between; */
    align-items: center;
    
}
.description{
    align-items: center;
}
.description ul li{
    padding: 10px;
    background-color: rgb(249 245 245);
    border-bottom: 1px solid #aa9c83;
    border-top: 1px solid #aa9c83;
}

.box-title {
    width: 100%;
    text-align: center;
    border-bottom: 1px solid #aa9c83;
    height: 5rem;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    display: flex;
    padding: 5px;
    background-color: rgb(249 245 245);

}
.box-title h3{
    margin: 5px;
}
.box-title p{
margin: 5px;
}
img{
    display: none;
}
.sidebar{
    min-width: 160px;
}

/* .button{
    background-color: rgb(221, 145, 5);
    color: #FFFFFF;
    font-size: 17px;
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;
    transition: all 300ms ease;
}
a:hover{
    transform: scale(1.1);
    background-color: #ff9500;
    box-shadow: 5px 5px 10px 0px rgb(0 0 0 / 50%);
    color:white;
    cursor: pointer;
} */
@media (min-width: 768px) {
    img{
        width: 50%;
        border-radius: 5px;
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
        margin: 10px;
        display: inline;
    }
    .box-father{
        margin: auto;
        height: 95vh;
        width: 60%;
    }
    .element{
        width:100%
    }
    .description{
        width: 100%;
    }
    .description ul li{
        background-color: rgb(247, 240, 240);  
    }
    .sidebar{
        min-widht: 200px;
    }
}

@media (min-width: 1024px) {
    img{
        width: 40%;
    }
}