* {
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;

  }
  .divPadre{
    display: flex;
    width: 60%;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 30px;
  }

  .a{width: 30%;
    margin-bottom: 7px;
    /* border: dashed 2px black; */
    box-shadow: 0 .15rem 1.75rem 0 rgba(58,59,69,.15)!important;
}

  .b{
    height: 100%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 7px;
    position: relative;

  }

  .c{
    
    height: 30%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}
  
  .imgg{
    width: 100%;
    height: 50%;
  }


  .name{
    width: 100%;
    text-align: center;
    height: 25px;
  }

  .description{
    width: 100%;
    font-size: 14px;
    /* font-weight: 550; */
    color:#7a7979;
}


  .id{
    position: absolute;
    top: 35px;
    right: 53px;
    font-weight: bolder;
    font-size: 20px;
    color: white;
  }
  .css-button-arrow--sky {
    min-width: 130px;
    height: 40px;
    color: #fff;
    padding: 5px 10px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    outline: none;
    overflow: hidden;
    border-radius: 5px;
    border: none;
    background-color: #3a86ff
  }
  .css-button-arrow--sky:hover {
    border-radius: 5px;
    padding-right: 24px;
    padding-left:8px;
  }
  .css-button-arrow--sky:hover:after {
    opacity: 1;
    right: 10px;
  }
  .css-button-arrow--sky:after {
    content: "\00BB";
    position: absolute;
    opacity: 0;
    font-size: 20px;
    line-height: 40px;
    top: 0;
    right: -20px;
    transition: 0.4s;
  }