* {
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;

  }
.padre-containerTypeInDb{
    display: flex;
    width:100%;
    align-items: center;
    margin: auto;
    
}
.containerTypeInDb{
    display: flex;
    width:100%;
    flex-direction: column;
    padding: 30px;
    box-shadow: 0 .15rem 1.75rem 0 rgba(58,59,69,.15)
}

.card-header {
text-align: center;
padding:20px;
text-transform: uppercase;
font-family: 'Lato', sans-serif;
font-weight: 400;
font-size: 20px; 
margin-bottom: 20px;
color:#5c5b5b
}

.container-row{
    display: flex;
    width:100%;
    flex-wrap: wrap;
    justify-content: center;
}
.row-hijo{
    width:40%;
    text-transform: uppercase; 
    font-weight: 300;
    font-family: 'Lato', sans-serif;
}



.card-row{
    padding: 20px;
    text-align: center;
    font-size:16px;
    color: #5c5b5b;
}

.card-row-1{
    padding: 20px;
    text-align: center;
    font-size:20px
}



.card{
    margin-bottom: 20px;
}

@media (max-width: 768px) {
    .container-row{
        display: flex;
        width:100%;
        flex-direction: column;
    }

    .padre-containerTypeInDb{
        display: flex;
        width:100%;
        align-items: center;
        justify-content: center;
    }

    .row-hijo{
        width:100%;}
        .containerTypeInDb{
            display: flex;
    flex-direction: column;
    padding: 30px;
    width:100%
        }}